/* Styles for Taiteen Sanelma */

/* Fonts */
@font-face {
    font-family: "Reey";
    src: url(./Fonts/Reey-Regular.woff);
}
@font-face{ 
	font-family: "Bonveno";
	src: url(./fonts/BonvenoCF-Light.woff2);
}
@font-face {
    font-family: "ArbutusSlab";
    src: url(./fonts/ArbutusSlab-Regular.woff2);
}  

/* General */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    /* height: 100vh; */
    background: rgb(29, 29, 29);
    font-family: "Bonveno",Arial;
    color: antiquewhite;
}
a {
    text-decoration: none;
    color: antiquewhite;
}
.active {
    color: black;
    background-color: rgba(250, 235, 215, 0.6);
    border-left: 2px solid white;
    border-right: 2px solid white;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(90deg, black, antiquewhite, black);
}
.logo {
    width: 200px;
}
.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: flex-end;
    height: 4rem;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgba(250, 235, 215, 0.196);
    border-bottom: 2px solid white;
    opacity: .8;
    transition: opacity 1s ease-in-out;
}
.navbar:hover {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    text-align: center;
    font-size: 1.3rem;
    transition: background-color 1s ease-in-out,
    color 1s ease-in-out;
}
.navbar a:hover {
    background-color: rgba(250, 235, 215, 0.799);
    color: black;
    transition: background-color .5s ease-in-out,
    color .5s ease-in-out;
}
.homeButton {
    margin-right: auto;
}
.contactInfoButton {
    padding-right: 1rem;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
}
.links {
    visibility: none;
    opacity: 0;
    position: absolute;
    background-color: rgba(250, 235, 215, 0.288);
    width: 200px;
    /* overflow: auto; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: -10;
    transform: translateY(-20px);
    transition: opacity 0.2s ease-in-out, 
    transform 0.3s ease-in-out;
}
.dropdown:hover .links {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 0.2s ease-in-out, 
    transform 0.3s ease-in-out;
}
.links a {
    width: 100%;
    padding: 1rem;
    text-align: start;
    font-family: "ArbutusSlab";
    background: rgba(0, 0, 0, 0.8);
}
.links a:hover {
    color: white;
    background-color: rgba(250, 235, 215, 0.163);
}

/* Pages styles */
.title {
    width: 100%;
    height: 200px;
    padding: 2rem;
    margin: 1rem 0 3rem;
    color: antiquewhite;
    font-size: 4rem;
    font-family: "Reey",Arial;
    text-align: center;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 3rem 5rem;
    margin: 50px;
    text-align: center;

}
.info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem 5rem;
    text-align: center;
}
.warning {
    margin-bottom: 3rem;
    font-size: 2rem;
}