/* Stylesheet for Taiteen Sanelma*/

@font-face {
    font-family: 'Reey';
    src: url('./Fonts/reey/Reey-Regular.otf');
    url('./Fonts/reey/Reey-Regular.woff') format('woff'),
	 url('./Fonts/reey/Reey-Regular.otf') format('truetype'),
	 url('./Fonts/reey/Reey-Regular.svg') format('svg');
}

@font-face{ 
	font-family: 'Daniel';
	src: url('./Fonts/daniel/Daniel-Black.otf');
	src: url('./Fonts/daniel/Daniel-Black.otf') format('eot'),
	     url('./Fonts/daniel/Daniel-Black.woff') format('woff'),
	     url('./Fonts/daniel/Daniel-Black.otf') format('truetype'),
	     url('./Fonts/daniel/Daniel-Black.svg') format('svg');
}       
}
}

body {
    background-image: url(./Photos/Backgroundimage.png);
    background-size: cover;
    margin-top: 50%;
}

.Header {
    float: left;
    position:sticky
    
}
ul {
    margin: 0px;
    padding: 0;
    overflow: 0;
    list-style-type: none;
    background-color: #CC9966;
    border:2px solid #FFFF;
    overflow: auto;
    text-align: center;
    position:static;
    width: 100%;
}
dt {
    font-size: 12px;
    color: #996633;
    font-family: "Daniel",Arial;
    text-align: center;
}  

a {
    margin: 0px;
    color: #ffff;
    text-decoration: none;
    font-family: "Daniel",Arial;
    display: block;
    padding: 12px 40px;
    border: 1px solid #ffff;
    float: left;
    text-align: center;
    
}
a:hover {
    font-size: 100%;
    color: #996633;
    text-decoration: none;
    background-color: #FFFF;
}

a.active {
    color: #996633;
    text-decoration: none;
    background-color: #FFFF;
}

h1 {
    color: #996633;
    font-size: 40px;
    font-family: "Reey",Arial;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

h2 {
    margin: 0px;
    font-size: 12px;
    text-align: center;
    color: #996633;
    opacity: 0.8;
    font-family: "Daniel",Arial;
}

h3 {
    margin-top: 0px;
    color: #996633;
    font-family: "Daniel",Arial;
}

h4 {
    margin-top: 0px;
    color: #996633;
    font-family: "Daniel",Arial;
}

h5 {
    margin-top: 0px;
    color: #996633;
    font-family: "Daniel",Arial;
}

h6 {
    margin-top: 0px;
    color: #996633;
    font-family: "Daniel",Arial;
}



p {
    font-size: 15px;
    text-align: center;
    margin-top: 0px;
    margin-left: 130px;
    margin-right: 130px;
    color: #996633;
    font-family: "Daniel",Arial;
}

